<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs', {title}) %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/sidebar.ejs') %>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <ul>
            <% bookinstance_list.forEach(instance => { %>
            <li class="mb-3"><a href=<%= instance.url %>><%= instance.book.title %></a> : <%= instance.imprint %> - 
            <% if (instance.status === 'Available')  { %>
            <span class="text-success"><%= instance.status %></span>
            <%} 

            else if (instance.status === 'Maintenance'){ %>
                <span class="text-danger"><%= instance.status %></span>
           <% }

            else { %>
                    <span class="text-warning"><%= instance.status %></span>
                <% } %>

            <% if (instance.status != 'Available') { %>
            <span>(Due: <%= instance.due_back %>)</span></li>
            <% } %>
            
            <% }) %>
            
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>