<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs', {title}) %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/sidebar.ejs') %>
        <div class="col-sm-10">
          <h1><%= genre.name %></h1>
          <div style="margin-left: 20px; margin-top: 20px">
            <h4>Books</h4>
            <% if(genre_books) { %>
                <% genre_books.forEach(book => { %>
                <a href="<%= book.url %>"><%= book.title %></a>
                <br>
                <%= book.summary %>
                <br> <br>
                <% }) %>
           <% } else { %>
            <p>This genre has no books</p>
           <% } %>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
